<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CI_iOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>CI_macOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>EssentialFeed.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>EssentialFeedAPIEndtoEndTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EssentialFeedCacheIntegrationTests.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>EssentialFeediOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A40F64FE25D97A91001958E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A40F650725D97A91001958E3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A45251A22607BF2B00BE8E9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A45251AA2607BF2C00BE8E9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A474FF132601319A004E289A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A4E492E025EBA9970095F326</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
